#root {
  color: black;
  margin-top: 2rem;
  /* background-color: rgb(250, 246, 231); */
}

.episode-select, .search {
  padding: 0.3rem;
 border-radius: 5px;
 border: 1px solid lightgrey;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
};

.search-result {
  text-align: end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  color: darkblue;
}

.search {
  outline: none
}

.card:hover {
  cursor: pointer;
  width: 102%;
}
